# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
*  List popular languages that Data Scientists use
*  List popular libraries used by Data Scientists
*  List popular Data Scients Tools
*  List some examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1.  Python
2.  SQL
3.  R
4.  C++

Some of the commonly used libraries used by Data Scientists include:

1.  NumPy
2.  Pandas
3.  TensorFlow
4.  SciPy
5.  Keras
6.  Matplotlib

|Data Science Tools|
|---|
|KubeFlow|
|Apache Hadoop|
|Kibana|
|Apache Spark SQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Cataldi Gianluca